{% extends "root.html" %}
{% load static %}

{% block title %}
<title>Polls</title>
{% endblock %}

{% block body %}
<div>
  <div class="container">
    <div id="listbox">
    </div>
    <p />
    <p />
    <p />
    <p />
    <div id="menu">
    </div>
  </div>
</div>
{% endblock %}

{% block extra_styles %}
{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/@tailwindcss/ui/dist/tailwind-ui.min.css">
{% endblock %}

{% block extra_scripts %}
{{ block.super }}

<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="{% static 'ListBox.js' %}"></script>
<script src="{% static 'Menu.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    ReactDOM.render(
      React.createElement(
        ListBox.default, // note - using .default here as this is how the global is set up
      ), document.getElementById('listbox')
    );
    ReactDOM.render(
      React.createElement(
        Menu.default, // note - using .default here as this is how the global is set up
      ), document.getElementById('menu')
    );
  });
</script>
{% endblock %}