{% extends "root.html" %}
{% load static %}

{% block title %}
<title>Polls</title>
{% endblock %}

{% block body %}
<div>
  <div class="container">
    <div id="root">
    </div>
  </div>
</div>
{% endblock %}

{% block extra_styles %}
{{ block.super }}
<link href="{% static 'assets/page1.0846382b.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_scripts %}
{{ block.super }}

<script src="{% static 'assets/runtime.670e9f10.js' %}"></script>
<script src="{% static 'assets/1.1a14701d.js' %}"></script>
<script src="{% static 'assets/5.baa4917a.js' %}"></script>
<script src="{% static 'assets/page1.88e3cb4b.js' %}"></script>
{% endblock %}