<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {# extra meta here #}
    {% endblock %}

    {% block title %}
    <title>mpademo</title>
    {% endblock %}

    {% block extrastyles %}
    {# extra styles here #}
    {% endblock %}
</head>

<body>
    {% block body %}
    <div>root body</div>
    {% endblock %}
    {% block extrascripts %}
    {# extra scripts here #}
    {% endblock %}
</body>

</html>